<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175844833391-g8ish36oa2qnr4dq2vtlurumoenpbj9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175844833391-g8ish36oa2qnr4dq2vtlurumoenpbj9h</string>
	<key>API_KEY</key>
	<string>AIzaSyA2cS883IiBldEwid6_LxQ9Ppqsczr43a4</string>
	<key>GCM_SENDER_ID</key>
	<string>175844833391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medica</string>
	<key>PROJECT_ID</key>
	<string>medica-cc918</string>
	<key>STORAGE_BUCKET</key>
	<string>medica-cc918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175844833391:ios:2f2a9accb3996954e6b59a</string>
</dict>
</plist>